body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(14, 142, 108, 0.459);
  background: #e5eaf5;
}


:root {
  /* --main-color: #f25454;
  --bg-color: #fafafa;
  --text-color: #282828; */
  --main-transition: 0.4s;
  /* --middle-transform: translate(-50%, -50%); */
}

/* a:hover .bi-github,
a:hover .bi-envelope-arrow-up-fill,
a:hover .bi-linkedin,
a:hover .bi-eye-fill {
  fill:  rgb(2, 69, 86); /* Change to your desired hover color */
/* transition: fill 0.3s ease;
}  */

.top2 {
  top: 2rem;
}

a {
  text-decoration: none !important;
}

#mail {
  padding: 0 !important;
}

@keyframes fade {
  0% {
    opacity: 0
  }

  30% {
    opacity: 1
  }

  80% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}
.modal{ transition: .5s; backdrop-filter: blur(1px);}
textarea {
  height: 9rem;
}

.alert {
  top: 12%;
  color: cornflowerblue;
  text-align: center !important;
  height: 3rem;
  animation: fade 4s linear forwards;

}

#AlertToggler {
  z-index: 22px !important;
}



#profileClick {
  cursor: pointer;
}

.marginZero {
  margin: 0 !important;
}

#myProfilePic,
#userProfilePic,
#yarobPic,
#commentImg {
  width: 2.6rem;
  height: 2.6rem
}

.card-footer {
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

#postImg {
  max-height: 500px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.shadow-bottom {
  box-shadow: 0px 2px 0px rgba(143, 143, 143, 0.08);
}

.alert {
  z-index: 20000;
  top: 88% !important;
  left: 50%;
}
.commentsNumber:hover {
  cursor: pointer;
  background-color:#1E6B6B !important;
  color: white;
  transition: color .5s;
  transition: background-color 1s;
}

#toTop {
  cursor: pointer;
  position: fixed;
  z-index: 55;
  bottom: 5%;
  left: 90%;
  place-self: end;
  margin-top: calc(100vh + 50px);
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

#myProfilePic,
#userProfilePic,
.redirectToPostDetails,
#editMyPost,
#deleteMyPost {
  cursor: pointer;
}

#editMyPost{color: #1E6B6B;};

#toTop.show {
  opacity: 1;
}

button,
a,
svg:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}


button,
a,
svg,
#addNewCommentBtn,
#editMyPost:focus-visible {
  outline: 0 !important;
  box-shadow: 0 0 0 0rem rgb(0 0 0 / 0%) !important;
}
.dropdown-menu{
  inset: -3px auto auto -140PX !important;
}


 button,
a,
svg,
#addNewCommentBtn ,
input:focus
{
  outline: 0 !important;
  border: 1 transparent !important;
  box-shadow: 0 0 0 0rem rgb(0 0 0 / 0%) !important;
};

#editMyPost.active, #editMyPost:active{background-color: #33ff00 !important};