body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgba(14, 142, 108, 0.459)
}
#profileClick{cursor: pointer }
#UserImage{width:2.5rem; height:2.5rem}
.card-footer {padding-bottom: 0px !important;padding-left: 0px !important;}